{% load static %}

<nav class="navbar navbar-expand-lg bg-black" style="background-color:rgba(150, 150, 150, 1);" >
    <div class="container-fluid" style="background-color:rgba(250, 250, 250, 1.000);">
      <img src="{% static 'oculos/images/Icon_2.png' %}" alt="The Eye" width="80" height="80">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color:rgba(255, 255, 255, 1);">{{DaTi}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color:rgba(2, 2, 2, 1);">Home</a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                
              </li>
            {% else %}
              <li class="nav-item">
                
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>